Django>=5.0
django-ninja
celery
redis
psycopg[binary]
python-dotenv
requests
django-ninja-jwt
django-cors-headers
openai
networkx
gunicorn
dj-database-url
tree-sitter
tree-sitter-python
tree-sitter-javascript
